# Google OAuth Configuration
# Get these values from Google Cloud Console (https://console.cloud.google.com/)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Brevo API Key
BREVO_API_KEY=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
