rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to read/update their own user document, which is identified by their email.
    match /users/{userEmail} {
      allow read, update: if request.auth != null &&
                             request.auth.token.email == userEmail;
    }

    // Rules for the 'policies' collection based on user_email
    match /policies/{policyId} {
        allow create: if request.auth != null && request.resource.data.user_email == request.auth.token.email;
        allow read: if request.auth != null;
        allow update, delete: if request.auth != null && resource.data.user_email == request.auth.token.email;
    }

    // Rules for 'quotations' and 'carRecords' (which are in the same collection) based on user_email
    match /quotations/{quotationId} {
      allow create: if true
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.user_email == request.auth.token.email;
    }
  }
}
